.persona-heading{
    height: 55px;
    line-height: 55px;
    padding: 0px 50px;
}
.persona-heading>span{
    color: #287da1;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 13px;
    border-bottom: 3px solid #287da1;
}
.persona-heading>p{
    display: inline;
    font-size: 20px;
    font-weight: 600;
    padding-right: 30px;
}
.persona-parent-con{
    background-color: #f3f4f5;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar{
    display: none;
}
.persona-con{
    
    width: 50%;
   padding: 20px;
    background-color: white;
    overflow-y: scroll;
    height: 45vh;
    border-radius: 10px;
}
.persona-con>button{
    color: #287da1;
    border: none;
    background-color: transparent;
    float: right;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.persona-outer-card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
.persona-outer-card>div{
    width: 280px;
}
.persona-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    padding-bottom: 13px;
}
.persona-card>span{
    border-radius: 100%;
    padding:13px 20px;
    font-size: 30px;
    font-weight: bold;
    color: gray;
    border: 2px solid gray;
    background-color: #f3f4f5;
}

.persona-card>img{
    top: 0%;
    width: 280px;
    height: 80px;
}
.edit-btn,.delete-btn{
    height: 30px;
    width: 70px;
    background-color: blue;
    color: white;
    font-weight: 700;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}
.delete-btn{
    background-color: red;
    cursor: pointer;
}
.persona-card>p{
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
}
.card-btn{
    display: flex;
    column-gap: 15px;
}
.add-btn{
    float: right;
    display: inline;
    background-color: transparent;
    border: none;
    color: #287da1;
    font-weight: 700;

}