.signup-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: center;
  row-gap: 30px;

}

.signup-form>div>input {
  height: 40px;
  width: 100%;
}

.signup-form>div>label {
  font-size: 14px;
  font-weight: 600;
}

.signup-form>button {
  width: 100%;
}

.error {
  color: red;
  font-size: 14px;
}

.parent-signup-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.signin-parent-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#create-acc {
  color: #287da1;
  font-weight: 700;
  cursor: pointer;
}